<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>Registration</servlet-name>
    <servlet-class>onlineexam.RegServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/RegServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NameOnChange</servlet-name>
    <servlet-class>onlineexam.CheckServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NameOnChange</servlet-name>
    <url-pattern>/CheckServ</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>EmailOnChange</servlet-name>
    <servlet-class>onlineexam.CheckServEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailOnChange</servlet-name>
    <url-pattern>/CheckServEmail</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>MobOnChange</servlet-name>
    <servlet-class>onlineexam.CheckServMob</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MobOnChange</servlet-name>
    <url-pattern>/CheckServMob</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>onlineexam.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TakeTest</servlet-name>
    <servlet-class>onlineexam.testPageServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TakeTest</servlet-name>
    <url-pattern>/testPageServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CalculateMarks</servlet-name>
    <servlet-class>onlineexam.CalculateServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalculateMarks</servlet-name>
    <url-pattern>/CalculateServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditProfile</servlet-name>
    <servlet-class>onlineexam.EditAdmServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfile</servlet-name>
    <url-pattern>/EditAdmServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditProfile2</servlet-name>
    <servlet-class>onlineexam.EditServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfile2</servlet-name>
    <url-pattern>/EditServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddQuestion</servlet-name>
    <servlet-class>onlineexam.SaveQnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddQuestion</servlet-name>
    <url-pattern>/SaveQnServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QnbyDomain</servlet-name>
    <servlet-class>onlineexam.ViewDomServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QnbyDomain</servlet-name>
    <url-pattern>/ViewDomServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewAllQn</servlet-name>
    <servlet-class>onlineexam.ViewQnServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllQn</servlet-name>
    <url-pattern>/ViewQnServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditQuestion</servlet-name>
    <servlet-class>onlineexam.EditQnServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditQuestion</servlet-name>
    <url-pattern>/EditQnServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateQuestion</servlet-name>
    <servlet-class>onlineexam.UpdateQnServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateQuestion</servlet-name>
    <url-pattern>/UpdateQnServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteQuestion</servlet-name>
    <servlet-class>onlineexam.DeleteQnServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteQuestion</servlet-name>
    <url-pattern>/DeleteQnServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewCandidates</servlet-name>
    <servlet-class>onlineexam.CandiViewServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCandidates</servlet-name>
    <url-pattern>/CandiViewServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewResume</servlet-name>
    <servlet-class>onlineexam.ViewResume</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewResume</servlet-name>
    <url-pattern>/ViewResume</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteCandidates</servlet-name>
    <servlet-class>onlineexam.DeleteCand</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCandidates</servlet-name>
    <url-pattern>/DeleteCand</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteFailedCandidates</servlet-name>
    <servlet-class>onlineexam.DeleteAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFailedCandidates</servlet-name>
    <url-pattern>/DeleteAll</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewScores</servlet-name>
    <servlet-class>onlineexam.ScoreServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewScores</servlet-name>
    <url-pattern>/ScoreServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>onlineexam.LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>